* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.job-sheet-form,
.client-update-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  background-color: #004085;
  color: white;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  height: 100px;
}

.btn-submit {
  background-color: #004085;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.btn-cancel {
  background-color: white;
  color: #004085;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.btn-submit:hover,
.btn-cancel:hover {
  opacity: 0.9;
}

#inventoryImage {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}