* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    width: 98%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    background-color: #013d6b;
    padding: 15px;
    text-align: center;
    color: white;
}

.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #013d6b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.button-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.button-section button {
    padding: 10px 20px;
    background-color: #013d6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.client-table th, .client-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.client-table th {
    background-color: #013d6b;
    color: white;
}

.client-table td:last-child{
    transform: translate(0%, 73%);
}
.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

.actions .view-btn {
    background-color: #007bff;
    color: white;
}

.actions .edit-btn {
    background-color: #ffc107;
    color: white;
}

.actions .delete-btn {
    background-color: #dc3545;
    color: white;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #013d6b;
    color: white;
}
